body {
  background-color: #252525;
  background-image: url(../imgs/rick-and-morty-portal-uhdpaper.com-hd.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 0;
}
main {
  width: 100%;
  min-height: 90vh;
}
.carrosselBase {
  background: #b2df28;
  display: flex;
  height: 20vh;
}
.cont {
  font-size: 48px;
  -webkit-text-stroke: 1px #b2df28;
  color: #32a9b6;
  font-family: "Jolly Lodger";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8em;
  padding-top: 5em;
}
.temas {
  
  -webkit-text-stroke: 1px #b2df28;
  color: #32a9b6;
  font-family: "Jolly Lodger";
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #252525;
}
.temas p{
  margin-bottom: 20px;
  font-size: 50px;
}
footer {
  display: flex;
  justify-content: center;
  -webkit-text-stroke: 1px #b2df28;
  color: #32a9b6;
  font-family: "Jolly Lodger";
  font-size: 35px;
}
